.montserrat-uniquifier {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
}

@keyframes animacaoFotoRusso {
    from {
        margin-left: -300%;
    }

    to {
        margin-right: 0%;
    }

}

@keyframes animacaoLogoWhatsapp {
    from {
        margin-left: 150%;
    }

    to {
        margin-left: 0;
    }
}

@keyframes animacaoTexto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    align-items: center;
    position: relative;
    font-family: "Montserrat", serif;
}

.divCabecalho {
    width: 100%;
    height: 10%;
    text-align: center;
    justify-items: center;
}

.logoRusso {
    width: 20%;
    margin-top: 5px;
}

/* DIV MENU */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcb900;
    padding: 2%;
    height: 10%;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
}


.menu .social-icons {
    display: flex;

}

.menu .social-icons img {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    margin-left: 10%;

}

.menu .toggle {
    display: none;
    cursor: pointer;
}

.toggle {
    width: 40px;
    height: 10px;
    margin-top: -28px;
    margin-left: 14px;
}

.menu .toggle span {
    display: block;
    width: 90%;
    height: 60%;
    background-color: white;
    margin: 5px;
}

.menu ul {
    text-align: center;

}


/* DIV DO WHATSAPP */
.divReclameAqui {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: auto;

}

.divReclameAqui a {
    width: 33%;
    text-align: center;
    justify-items: center;
    align-content: center;
    text-decoration: none;
}

.divReclameAqui h1 {
    font-size: 120%;
    color: black;
    margin-left: 10%;
    animation-name: animacaoTexto;
    animation-duration: 8s;
}

.imgReclameAqui {
    width: 70%;
    margin-left: -30%;
}

.imgReclameAquiResolucao {
    display: none;
}

.fotoRusso {
    width: 100%;
    animation-name: animacaoFotoRusso;
    animation-duration: 4s;
}

.logoWhats {
    width: 30%;
    animation-name: animacaoLogoWhatsapp;
    animation-duration: 4s;
}

/* CONTEUDO */

#sobreMim {
    width: 50%;
    text-align: center;
    margin-left: 2%;
}

#sobreMim h1 {
    color: #ffbe00;
    width: 50%;
    margin: auto;
    font-size: 100%;
}

#sobreMim p {
    text-align: left;
}

/* BOTÕES LER MAIS */

.botao {
    background-color: #ffbe00;
    color: white;
    font-size: 80%;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    margin: 40px 0;
}

.fotoCelularA {
    display: none;
}

/* RESOLUÇÃO PARA CELULAR */
@media (max-width: 993px) {
    .logoRusso {
        width: 50%;
        margin: 3% 0 3% 0;

    }

    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;

    }

    .menu .social-icons img {
        width: 100%;
        height: 40px;
        border-radius: 50%;
        margin-left: -20%;
    }

    .menu .toggle {
        display: block;

    }

    /* DIV RECLAME AQUI */
    @keyframes margemAlterada {
        from {
            margin-left: -90%;
        }

        to {
            margin-left: -3%;
        }

    }

    @keyframes animacaoFotoRusso {
        from {
            margin-left: 120%;
        }

        to {
            margin-left: 0%;
        }

    }

    .divReclameAqui {
        flex-direction: column;
        display: flex;
        width: 95%;
        height: auto;
        margin-top: 5px;

    }

    .divReclameAqui a {
        width: 100%;
        text-align: center;
        justify-items: center;
        align-content: center;
        text-decoration: none;
    }

    .divReclameAqui h1 {
        text-align: center;
        font-size: 100%;
        color: black;
        margin: 7% 8% 0 8%;
        animation-name: animacaoTexto;
        animation-duration: 5s;


    }

    .imgReclameAqui,
    .fotoRusso {
        display: none;
    }

    .fotoRusso {
        display: none;
    }

    .logoWhats {
        justify-items: center;
        align-content: center;
        width: 15%;
        margin-left: -3%;
        margin-top: 5%;
        animation-name: margemAlterada;
        animation-duration: 3s;
    }

    #fotoCelular {
        display: flex;
        width: 75%;
        margin: 0 0 0 10%;
    }

    .fotoCelularA {
        display: flex;
        animation-name: animacaoFotoRusso;
        animation-duration: 3s;
    }

    /* CONTEUDO */

    #sobreMim {
        width: 90%;
        margin: 40px 0;
        padding: 20px;
        text-align: left;
    }

    #sobreMim h1 {
        font-size: 110%;
        margin: 20px 0 25px 5%;
    }

    #sobreMim p {
        text-align: left;
        margin: 20px 12px;
        font-size: 90%;
    }

    .botao {
        margin: 0 0 0 3%;
        font-size: 110%;
    }


}