.videoHistoria {
    width: 170%;
    margin: 10% 0 0 9%;
}

.divConteudoSobreMim {

    display: flex;
}

h1 {
    margin: 3% 0 3% 60%;
}

.divConteudoSobreMim section {
    text-align: justify;
    margin: 0% 5% 0 20%;
}

/* RESOLUÇÃO PARA CELULAR */
@media (max-width: 993px) {
    .divConteudoSobreMim {
        display: block;
        text-align: center;
        /* justify-items: center; */
    }

    .videoHistoria {
        width: 80%;
        margin: 4% 0 0 0;
    }

    h1 {
        margin: 3% 0 0 23%;
    }

    .divConteudoSobreMim section {
        text-align: justify;
        width: 80%;
        margin: 3% 0 0 10%;
    }


}